.Navigation {
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    
}

.nav-item {
    list-style: none;
    justify-content: left;
}

.nav-link.active {
    font-weight: bold;
    color: black;
}